{% load render_partial %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    {% include 'shared/_HeaderReferences.html' %}
</head>
<body>
    <!-- Page Loader -->
{#    <div id="loader-wrapper">#}
{#       <div id="loader"></div>#}
{##}
{#        <div class="loader-section section-left"></div>#}
{#        <div class="loader-section section-right"></div> #}
{#    </div>#}
{% render_partial 'header' %}
{% block content %}{% endblock %}
{% render_partial 'footer' %}
{% include 'shared/_FooterReferences.html' %}
</body>
</html>