{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}
{% block title %}
    <title>Change Password</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'galleria_account.views.sidebar' %}
            </div>
            <div class="col-md-8 ">
                <form id="contact-form" action="" method="POST" class="tm-contact-form mx-auto">
                    <h2 class="tm-text-primary mb-5">Change Password</h2>
                    {% csrf_token %}
{#                    <div class="form-group">#}
{#                        {{ change_form.current_password }}#}
{#                        {% for error in change_form.current_password.errors %}#}
{#                            {{ error }}#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        {{ change_form.new_password }}#}
{#                        {% for error in change_form.new_password.errors %}#}
{#                            {{ error }}#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        {{ change_form.re_new_password }}#}
{#                        {% for error in change_form.re_new_password.errors %}#}
{#                            <p class="alert-danger">{{ error }}</p>#}
{#                        {% endfor %}#}
{#                    </div>#}
                    <div>
                        {{ form.as_p }}
                    </div>
                    <div class="form-group tm-text-right">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}