{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block title %}
    <title>Login page</title>
{% endblock %}
{% block content %}
    <div class="container-fluid tm-mt-60">
        <div class="row tm-mb-50">
            <div class="col-lg-6 col-12 mb-5 ">
                <form id="contact-form" action="" method="POST" class="tm-contact-form mx-auto">
                    <h2 class="tm-text-primary mb-5">Login</h2>
                    {% csrf_token %}
                    <div class="form-group">
                        {{ log_in.email }}
                    </div>
                    <div class="form-group">
                        {{ log_in.password }}
                    </div>
                    <div class="form-group tm-text-right">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>

            <div class="row tm-mb-74 tm-people-row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5">
                    <img src="{% static 'img/people-1.jpg' %}" alt="Image" class="mb-4 img-fluid">
                    <h2 class="tm-text-primary mb-4">Ryan White</h2>
                    <h3 class="tm-text-secondary h5 mb-4">Chief Executive Officer</h3>
                    <p class="mb-4">
                        Mauris ante tellus, feugiat nec metus non, bibendum semper velit. Praesent laoreet urna id
                        tristique
                        fermentum. Morbi venenatis dui quis diam mollis pellentesque.
                    </p>
                    <ul class="tm-social pl-0 mb-0">
                        <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5">
                    <img src="{% static 'img/people-2.jpg' %}" alt="Image" class="mb-4 img-fluid">
                    <h2 class="tm-text-primary mb-4">Catherine Pinky</h2>
                    <h3 class="tm-text-secondary h5 mb-4">Chief Marketing Officer</h3>
                    <p class="mb-4">
                        Sed faucibus nec velit finibus accumsan. Sed varius augue et leo pharetra, in varius lacus
                        eleifend.
                        Quisque ut eleifend lacus.
                    </p>
                    <ul class="tm-social pl-0 mb-0">
                        <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5">
                    <img src="{% static 'img/people-3.jpg' %}" alt="Image" class="mb-4 img-fluid">
                    <h2 class="tm-text-primary mb-4">Johnny Brief</h2>
                    <h3 class="tm-text-secondary h5 mb-4">Accounting Executive</h3>
                    <p class="mb-4">
                        Sed faucibus nec velit finibus accumsan. Sed varius augue et leo pharetra, in varius lacus
                        eleifend.
                        Quisque ut eleifend lacus.
                    </p>
                    <ul class="tm-social pl-0 mb-0">
                        <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5">
                    <img src="{% static 'img/people-4.jpg' %}" alt="Image" class="mb-4 img-fluid">
                    <h2 class="tm-text-primary mb-4">George Nelson</h2>
                    <h3 class="tm-text-secondary h5 mb-4">Creative Art Director #C69</h3>
                    <p class="mb-4">
                        Nunc convallis facilisis congue. Curabitur gravida rutrum justo sed pulvinar. Pellentesque ac
                        ante
                        in erat bibendum dignissim.
                    </p>
                    <ul class="tm-social pl-0 mb-0">
                        <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}